body{
    display: flex;
    flex-direction: column;

}

ul{
    margin:0px;
    list-style-type: none;
}

.header{
    border: 1px solid red;

}

.header-top{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.header-links{
    border: 1px solid red;
    display: flex;

}

.header-bottom{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.main-img{
    border: 1px solid blue;
    flex:1;

}

.main-container{
    display: flex;
}



.main-quote{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.quote{
    border: 1px solid red;
}

.quote-name{
    border: 1px solid green;
    align-self: flex-end;

}



.main-signup{
    border: 1px solid orange;

}

.card{
    border: 1px solid red;

}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-title{
    border: 1px solid blue;
}

.signup-text{
    border: 1px solid red;
}

.footer{
    border: 1px solid red;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
}